### API do Banco Central

https://dadosabertos.bcb.gov.br/dataset?res_format=API

In [1]:
import requests

link = r"https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$orderby=Data%20desc&$format=json"

requisicao = requests.get(link)
informacoes = requisicao.json()


# import pprint

# pprint.pprint(informacoes)

In [2]:
import pandas as pd

tabela = pd.DataFrame(informacoes["value"])

# tabela["Valor"] = tabela["Valor"].map("R${:,.2f}".format)

display(tabela)

            Data  Quantidade         Valor Denominacao  Especie
0     2022-12-06  3191087458  3.191087e+07        0.01   Moedas
1     2022-12-06  7527514839  3.763757e+08        0.05   Moedas
2     2022-12-06  7747983749  7.747984e+08        0.10   Moedas
3     2022-12-06  3431443060  8.578608e+08        0.25   Moedas
4     2022-12-06  3479506037  1.739753e+09        0.50   Moedas
...          ...         ...           ...         ...      ...
9995  2020-01-15  3126807673  7.817019e+08        0.25   Moedas
9996  2020-01-15  3094968412  1.547484e+09        0.50   Moedas
9997  2020-01-15   148737687  1.487377e+08        1.00  Cédulas
9998  2020-01-15  3632498108  3.632498e+09        1.00   Moedas
9999  2020-01-15  1416985492  2.833971e+09        2.00  Cédulas

[10000 rows x 5 columns]

In [3]:
# pegar todas as informacoes com varias requisiçoes

tabela_final = pd.DataFrame()
pular_indice = 0

while True:
    link = f'https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$skip={pular_indice}&$orderby=Data%20desc&$format=json'
    requisicao = requests.get(link)
    informacoes = requisicao.json()
    tabela = pd.DataFrame(informacoes["value"])
    if len(informacoes['value']) < 1:
        break
    tabela_final = pd.concat([tabela_final, tabela])
    pular_indice += 10000

display(tabela_final)

            Data  Quantidade         Valor Denominacao  Especie
0     2022-12-06  3191087458  3.191087e+07        0.01   Moedas
1     2022-12-06  7527514839  3.763757e+08        0.05   Moedas
2     2022-12-06  7747983749  7.747984e+08        0.10   Moedas
3     2022-12-06  3431443060  8.578608e+08        0.25   Moedas
4     2022-12-06  3479506037  1.739753e+09        0.50   Moedas
...          ...         ...           ...         ...      ...
8774  1994-10-03   181609358  1.816094e+08        1.00   Moedas
8775  1994-10-03   252922174  1.264611e+09        5.00  Cédulas
8776  1994-10-03   273630983  2.736310e+09       10.00  Cédulas
8777  1994-10-03    28945486  1.447274e+09       50.00  Cédulas
8778  1994-10-03     2841789  2.841789e+08      100.00  Cédulas

[88779 rows x 5 columns]